@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./themes.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        "Space Grotesk", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-serif:
        Poly, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-mono:
        "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --shadow-square: 2px 2px;
    --shadow-square-2: 3px 3px;
    --shadow-square-4: 4px 4px;
}

body {
    @apply font-sans antialiased;
    
    @apply accent-accent-500 bg-white text-black;
    
    @variant dark {
        @apply bg-black text-white;
    }
}

.prose {
    @apply font-serif!;
}

.prose a {
    @apply no-underline! text-accent-500!;
}

.shadow-square-clickable {
    @apply shadow-square hover:shadow-square-2 active:shadow-square-4;
}

a, .clickable {
    @apply text-accent-500 border-accent-500;
    @apply bg-accent-500/5 hover:bg-accent-500/10 active:bg-accent-500/20 focus-visible:outline-accent-500;
}

a {
    @apply border-b border-dotted;
}

dialog {
    @apply border-accent-500 shadow-square shadow-accent-500 border backdrop:bg-black/75;
}

input, select, textarea, button, .clickable {
    @apply h-full;
}

kbd {
    @apply text-xs border px-0.5 rounded-sm;
}
