@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        "Space Grotesk", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-serif:
        Poly, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-mono:
        "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --shadow-square: 2px 2px;
    --shadow-square-2: 3px 3px;
    --shadow-square-4: 4px 4px;
}

@theme inline {
    --color-accent-50: var(--color-indigo-50);
    --color-accent-100: var(--color-indigo-100);
    --color-accent-200: var(--color-indigo-200);
    --color-accent-300: var(--color-indigo-300);
    --color-accent-400: var(--color-indigo-400);
    --color-accent-500: var(--color-indigo-500);
    --color-accent-600: var(--color-indigo-600);
    --color-accent-700: var(--color-indigo-700);
    --color-accent-800: var(--color-indigo-800);
    --color-accent-900: var(--color-indigo-900);
    --color-accent-950: var(--color-indigo-950);
}

@layer base {
    .prose {
        @apply !font-serif;
    }

    .prose a {
        @apply !no-underline;
    }
}

body {
    @apply font-sans antialiased;

    @apply accent-accent-600 bg-neutral-100 text-neutral-900;

    @variant dark {
        @apply accent-accent-400 bg-neutral-900 text-neutral-100;
    }
}

.shadow-square-clickable {
    @apply shadow-square hover:shadow-square-2 active:shadow-square-4;
}

a, .clickable {
    @apply text-accent-600 border-accent-600;
    @apply bg-accent-600/5 hover:bg-accent-600/10 active:bg-accent-600/20 focus-visible:outline-accent-600;

    @variant dark {
        @apply text-accent-400 border-accent-400;
        @apply bg-accent-400/5 hover:bg-accent-400/10 active:bg-accent-400/20 focus-visible:outline-accent-400;
    }
}

a {
    @apply border-b border-dotted;
}

dialog {
    @apply border-accent-600 shadow-square shadow-accent-600 border backdrop:bg-neutral-900/75;

    @variant dark {
        @apply border-accent-400 shadow-square shadow-accent-400;
    }
}

input, select, textarea, button, .clickable {
    @apply h-full;
}
