---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="prose dark:prose-invert">
        <h1>Page not found.</h1>
        <p>
            Please go back to the <a href="/">homepage</a>
            or <button class="clickable" onclick="searchButton?.click()">search</button> the site.
        </p>
    </div>
</Layout>
