---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <div class="prose prose-neutral dark:prose-invert" data-pagefind-body>
        <section id="about-me">
            <h1 data-pagefind-meta="title">About Me</h1>

            <p>
                I'm Kai Schuyler Gonzalez, an experienced software developer and
                designer dedicated to creating engaging and user-friendly
                software. I specialize in front-end, full-stack, and mobile
                development.
            </p>
            <p>
                I am originally from San Jose, Costa Rica and have lived in
                Colorado since 2010. I have a B.S. in Computer Science from the <a
                    href="https://www.cu.edu/"
                    target="_blank"
                    rel="noopener noreferrer">University of Colorado Boulder</a
                >. My interests include game development, cooking, skiing,
                traveling, and photography.
            </p>
        </section>
        <hr />
        <section id="work-experience">
            <h2>Work Experience</h2>
            <section id="spectrum">
                <h3 class="block text-lg font-semibold">
                    Spectrum <span class="float-right">Jul. 2024 - Present</span
                    >
                </h3>
                <p class="text-base italic">
                    Software Engineer <span class="float-right"
                        >Greenwood Village, CO</span
                    >
                </p>
                <ul>
                    <li>
                        Spectrum is a major telecommunications provider that
                        offers high-speed internet, cable TV, and voice services
                        to millions of customers across the United States.
                    </li>
                    <li>
                        Implemented a new reporting module in a high-traffic
                        application with React, boosting user interaction
                        metrics by 10%.
                    </li>
                    <li>
                        Collaborated with network, WiFi and video teams to
                        create an automated testing suite for hardware devices.
                        Added 10+ device models to the testing suite.
                    </li>
                    <li>
                        Created a design system for consistent styling between
                        different applications for the automation department.
                        This included a library of reusable, modular components
                        for both React and Angular frameworks and CSS module.
                    </li>
                    <li>
                        Utilized agile software methods and participated in
                        spring planning and daily stand ups to ensure timely
                        delivery.
                    </li>
                    <li>
                        Implemented enterprise SSO using JWT across internal
                        applications.
                    </li>
                </ul>
            </section>
            <section id="oori">
                <h3 class="block text-lg font-semibold">
                    Oori Data <span class="float-right"
                        >Apr. 2023 - Jul. 2024</span
                    >
                </h3>
                <p class="text-base italic">
                    Full-stack Software Engineer <span class="float-right"
                        >Superior, CO</span
                    >
                </p>
                <ul>
                    <li>
                        Oori Data is a software consulting startup providing
                        professional services related to AI for small to large
                        businesses.
                    </li>
                    <li>
                        Collaborated with diverse clients to provide expertise
                        in data analysis, machine learning and full stack
                        development.
                    </li>
                    <li>
                        Created a full stack Django application for a client,
                        resulting in 2-5x faster data retrieval performance.
                    </li>
                    <li>
                        Contributed to open-source python packages including a
                        python wrapper for locally-hosted LLMs with over 100
                        stars on GitHub.
                    </li>
                    <li>
                        Added CI/CD pipeline for testing and deployment
                        resulting in faster verification and build times for
                        releases.
                    </li>
                    <li>
                        Implemented OAuth 2.0 authentication for public-facing
                        application.
                    </li>
                </ul>
            </section>
            <section id="cu-registrar">
                <h3 class="block text-lg font-semibold">
                    CU Boulder Office of the Registrar <span class="float-right"
                        >Jan. 2021 - May 2022</span
                    >
                </h3>
                <p class="text-base italic">
                    Student Software Engineer <span class="float-right"
                        >Boulder, CO</span
                    >
                </p>
                <ul>
                    <li>
                        The CU Boulder Office of the Registrar is proud to serve
                        the students, faculty, staff and alumni of the
                        University of Colorado Boulder through registration,
                        record keeping, course and classroom management, and
                        academic support.
                    </li>
                    <li>
                        Developed internal software tools with .NET framework
                        and C# in the registrar office.
                    </li>

                    <li>
                        Developed a web crawling application to automate
                        administrative tasks, leading to 20% faster data
                        processing.
                    </li>

                    <li>
                        Documented and refactored legacy code, leading to a 40%
                        decrease in compile time and faster performance.
                    </li>
                </ul>
            </section>
        </section>
        <hr />
        <section id="education">
            <h2>Education</h2>
            <section id="cu-boulder">
                <h3 class="block text-lg font-semibold">
                    University of Colorado <span class="float-right"
                        >Aug. 2018 - Aug. 2022</span
                    >
                </h3>
                <p class="text-base italic">
                    Bachelor of Science in Computer Science <span
                        class="float-right">Boulder, CO</span
                    >
                </p>
                <ul>
                    <li>
                        Software Engineering and Human-Centered Computing track
                    </li>
                    <li>
                        <a
                            href="https://www.colorado.edu/engineering/academics/degree-programs/creative-technology-design"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Creative Technology and Design Minor</a
                        >; CU Boulder Esteemed Scholar
                    </li>
                </ul>
            </section>
            <section id="uppsala">
                <h3 class="block text-lg font-semibold">
                    Uppsala University <span class="float-right"
                        >Jan. 2021 - Jun. 2021</span
                    >
                </h3>
                <p class="text-base italic">
                    Computer Graphics program <span class="float-right"
                        >Uppsala, Sweden</span
                    >
                </p>
                <ul>
                    <li>
                        <a
                            href="https://www.uu.se/en/study/course?query=1MD150"
                            target="_blank"
                            rel="noopener noreferrer">Curriculum</a
                        >
                    </li>
                </ul>
            </section>
        </section>
    </div>
</Layout>

<script>
    console.log(document.querySelectorAll("section[id]"));
</script>
