---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import portrait from "../assets/images/portrait.png";
import PortfolioItems from "../components/PortfolioItems.astro";
import Posts from "../components/Posts.astro";
---

<Layout>
    <section
        id="splash"
        class="grid grid-cols-1 grid-rows-2 gap-4 md:grid-cols-[auto_1fr] md:grid-rows-1"
    >
        <!-- <Image
            src={portrait}
            loading="eager"
            decoding="async"
            alt="me, Kai Schuyler Gonzalez"
            width={250}
            height={250}
            class="shadow-square row-start-1 block aspect-square border"
        /> -->
        <div class="prose dark:prose-invert">
            <h1>👋🏼 Hello!</h1>
            <p>
                I'm Kai Schuyler Gonzalez, a software engineer 💻 and designer
                🎨 based in Colorado 🦬 🏔️.
            </p>
            <p>
                I specialize in creating engaging and user-friendly software
                with a focus on front-end, full-stack, and mobile development.
            </p>
            <p>
                Currently, I'm a software engineer at <a
                    href="https://corporate.charter.com/"
                    target="_blank"
                    rel="noopener noreferrer">Spectrum</a
                > in Denver, CO.
            </p>
        </div>
    </section>

    <section id="featured">
        <section id="recent-posts" class="mt-8">
            <Posts count={2} heading="Recent posts" />
        </section>
        <section id="recent-portfolio" class="mt-8">
            <PortfolioItems count={2} heading="Featured projects" />
        </section>
    </section>
</Layout>
