---
import Layout from "../layouts/Layout.astro";

import PortfolioItems from "../components/PortfolioItems.astro";
---

<Layout title="Portfolio">
    <h1 class="mb-4 text-4xl font-bold">Portfolio</h1>
    <p class="mb-8">
        My portfolio of projects dating back to undergrad.
    </p>
    <PortfolioItems />
</Layout>
