---
import { Icon } from "astro-icon/components";

interface Props {
    title: string;
    icon: string;
}

const { title } = Astro.props as Props;
---

<div class="shadow-square border p-4">
    <div class="mb-2 flex items-center gap-2 text-2xl font-semibold">
        <Icon name={Astro.props.icon} />
        <h3>{title}</h3>
    </div>
    <div class="prose dark:prose-invert">
        <slot />
    </div>
</div>
