<footer class="flex justify-between gap-2 border-t border-slate-400 p-2">
    <div>© 2025 zephy.dev • Developed with <a href="https://astro.build">Astro</a></div>
    <div><a href="https://github.com/kaischuygon/zephy.dev">source</a> • <a href="mailto:kai@zephy.dev">contact me</a></div>
</footer>

<style>
    @import "tailwindcss";

    a {
        @apply underline;
    }
</style>