<footer class="flex justify-between gap-2 p-2">
  <div>
    © 2025 <a href="https://zephy.dev" target="_blank">zephy.dev</a> • Developed with <a href="https://astro.build">Astro</a>
  </div>
  <div>
    <a href="https://github.com/kaischuygon/zephy.dev"> source</a> • <a
      href="mailto:kai@zephy.dev">contact me</a>
  </div>
</footer>

<style>
  @import "tailwindcss";
</style>
