---
import { getCollection } from "astro:content";
import PortfolioItem from "./PortfolioItem.astro";
import { Icon } from "astro-icon/components";

const { count=-1, ignore_id=undefined } = Astro.props;

const portfolioItems = (await getCollection("portfolio"))
    .filter((item) => (ignore_id ? item.id !== ignore_id : item))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, count);
---

<div class="flex flex-wrap gap-2">
    {portfolioItems.map((item) => <PortfolioItem item={item} />)}
</div>

{count >= portfolioItems.length && (
    <a href="/portfolio" class="inline-block mt-2 font-semibold">
        view full portfolio
        <Icon
            class="inline"
            title="up-right"
            name="lineicons:arrow-angular-top-right"
        />
    </a>
)}