---
import { getCollection } from "astro:content";
import PortfolioItem from "./PortfolioItem.astro";
import { Icon } from "astro-icon/components";

interface Props {
    count?: number;
    ignore_id?: string;
    heading?: string;
    columns?: string;
}

const {
    count = -1,
    ignore_id = undefined,
    heading = "",
    columns = "grid-cols-1 sm:grid-cols-2 md:grid-cols-3",
} = Astro.props as Props;

const portfolioItems = (await getCollection("portfolio"))
    .filter((item) => (ignore_id ? item.id !== ignore_id : item))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, count);
---

{
    portfolioItems.length > 0 && (
        <section class="w-full">
            <h2 class="mb-2 text-2xl font-semibold">{heading}</h2>
            <div class={`grid gap-2 ${columns}`}>
                {portfolioItems.map((item) => (
                    <div class="h-full w-full">
                        <PortfolioItem item={item} />
                    </div>
                ))}
            </div>
            {count >= portfolioItems.length && (
                <a href="/portfolio" class="mt-2 inline-block font-semibold">
                    view full portfolio
                    <Icon
                        class="inline"
                        title="up-right"
                        name="lineicons:arrow-angular-top-right"
                    />
                </a>
            )}
        </section>
    )
}
