---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import PortfolioItem from "./PortfolioItem.astro";

const { count=-1, ignore_id=undefined } = Astro.props;

const portfolioItems = (await getCollection("portfolio"))
    .filter((item) => (ignore_id ? item.id !== ignore_id : item))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, count);
---

<div class="flex flex-col gap-2">
    {portfolioItems.map((item) => <PortfolioItem item={item} />)}
    {count >= portfolioItems.length && <PortfolioItem />}
</div>