---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const { count = 3, ignore_id = null } = Astro.props;

const recentPosts = (await getCollection("blog"))
    .filter((post) => (ignore_id ? post.id !== ignore_id : post))
    .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
    .slice(0, count);
---

<div class="flex flex-col gap-2">
    {
        recentPosts.map((post) => (
            <a
                href={`/blog/${post.id}`}
                class="shadow-square hover:shadow-square-2 flex flex-col gap-2 border"
            >
                <div class="p-2">
                    <h2 class="text-xl font-semibold">{post.data.title}</h2>
                    <span class="text-sm">
                        {post.data.publishDate.toLocaleDateString()}
                    </span>
                    <p>{post.data.description}</p>
                </div>
            </a>
        ))
    }
    <a
        href={`/blog`}
        class="shadow-square hover:shadow-square-2 flex w-full flex-col items-center justify-center gap-2 border"
    >
        <div class="p-2">
            view all posts
            <Icon class="inline" name="tabler:arrow-up-right" />
        </div>
    </a>
</div>
