---
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import Post from "./Post.astro";

interface Props {
    item: CollectionEntry<'blog'|'portfolio'>,
}

const { item } = Astro.props as Props;

const relatedPosts = await getEntries(item.data.related || [])
---

<div class="flex flex-col gap-2 w-full">
    {
        relatedPosts?.map(relatedPost => (
            <Post post={relatedPost} />
        ))
    }
</div>
