---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('portfolio');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <a href="/portfolio" class="inline-block mb-2">
    <Icon class="inline" name="bx:left-arrow-alt" /> Back to portfolio
  </a>
  <h1 class="text-4xl font-bold mb-2">{post.data.title}</h1>
  <div class="flex gap-2 mb-2">
    {post.data.tags.map(tag => (
      <div class="border shadow-square p-1">
        {tag}
      </div>
    ))}
  </div>
  <div class="prose dark:prose-invert">
    <Content />
  </div>
</Layout>
